In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("iris_missing.csv")
df.head(7)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [4]:
df_na = df.head(7)
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [6]:
df_na["Sepal_Length"].notna()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: Sepal_Length, dtype: bool

In [7]:
True + True + False

2

In [9]:
df_na["Sepal_Length"].isna().sum()

1

In [11]:
df_na.isna().sum() # 각 변수별 결측치 개수

Sepal_Length    1
Sepal_Width     2
Petal_Length    2
Petal_Width     1
Species         2
dtype: int64

In [12]:
df_na.isna().sum(axis = 1) # 각 row별 결측치 개수

0    2
1    0
2    1
3    0
4    1
5    0
6    4
dtype: int64

In [14]:
df_na.fillna(value = {"Sepal_Length": 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0          NaN           NaN          NaN  setosa

In [15]:
df_na.fillna(value = {"Sepal_Length": 999,
                      "Sepal_Width": 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0           NaN          NaN  setosa

In [16]:
df_na.fillna(value = 999)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0         999.0          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     999
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     999
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0         999.0        999.0  setosa

In [18]:
df_na["Sepal_Width"].mean()

3.3600000000000003

In [19]:
df_na.fillna(value = {"Sepal_Width": df_na["Sepal_Width"].mean()})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [20]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [21]:
df_na = df_na.fillna(value = {"Sepal_Width": df_na["Sepal_Width"].mean()})
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [22]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [23]:
df_na2 = df.head(7)
df_na2

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [25]:
df_na2.dropna(how = "all")

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [27]:
df_na2.iloc[:, :-1].dropna(how = "all")

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [29]:
print(df["Sepal_Length"].max())
print(df["Sepal_Length"].min())
print(df["Sepal_Length"].mean())

7.9
4.3
5.853846153846154

In [30]:
df["Sepal_Length"].median()

5.8

In [31]:
df["Sepal_Length"].quantile()

5.8

In [33]:
print(df["Sepal_Length"].quantile(q = 0.25)) # 제 1 사분위수
print(df["Sepal_Length"].quantile(q = 0.50)) # 제 2 사분위수
print(df["Sepal_Length"].quantile(q = 0.75)) # 제 3 사분위수

5.1
5.8
6.4

In [37]:
df = pd.read_csv("iris_missing.csv")
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN

In [38]:
df.iloc[:, :-1].isna().sum()

Sepal_Length     7
Sepal_Width     13
Petal_Length    14
Petal_Width      6
dtype: int64

In [40]:
df.iloc[:, :-1].isna().sum().sum()

40

In [41]:
df = df.fillna(value = {"Sepal_Width": df["Sepal_Width"].mean()})
df["Sepal_Width"].var()

0.17561945818840946

In [47]:
df = pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [49]:
sl_mean = df["Sepal.Length"].mean()
sl_std = df["Sepal.Length"].std()
print(sl_mean)
print(sl_std)

5.843333333333335
0.8280661279778629

In [51]:
cond_1 = df["Sepal.Length"] < (sl_mean - 1.5 * sl_std)
cond_2 = df["Sepal.Length"] > (sl_mean + 1.5 * sl_std)
df_out = df.loc[(cond_1) | (cond_2), ]
len(df_out)

21