In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("C:/Users/user/Downloads/datascience/Python/iris.csv")

In [3]:
df_1 = df.head()
df_2 = df.tail(1)

In [4]:
df_1

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df_2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica

In [8]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:,:-1])
nor_minmax

MinMaxScaler()

In [9]:
nor_minmax.transform(df_1.iloc[:,:-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [14]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:,:-1]), columns = df_1.columns[:4])
df_minmax

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0          -0.8          0.5          -3.7         -1.6
1          -1.0          0.0          -3.7         -1.6
2          -1.2          0.2          -3.8         -1.6
3          -1.3          0.1          -3.6         -1.6
4          -0.9          0.6          -3.7         -1.6

In [30]:
df = df.iloc[:,:-1]
model = KMeans(n_clusters = 3, random_state = 123).fit(df)
model

C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=3, random_state=123)

In [31]:
model.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2])

In [32]:
model.cluster_centers_

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [34]:
df["cluster"] = model.labels_
df.groupby("cluster").mean()

         Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
cluster
0            6.850000     3.073684      5.742105     2.071053
1            5.006000     3.428000      1.462000     0.246000
2            5.901613     2.748387      4.393548     1.433871

In [99]:
#1
bmi = pd.read_csv("C:/Users/user/Downloads/datascience/Python/diabetes.csv").iloc[:,:-1]

In [100]:
bmi_sub = bmi.loc[bmi["BMI"] != 0, :]
bmi_sub

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [101]:
model = KMeans(n_clusters = 4, random_state = 123).fit(bmi_sub)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

In [102]:
bmi_sub["cluster"] = model.labels_
bmi_sub["cluster"].value_counts()

C:\Users\user\AppData\Local\Temp\ipykernel_21252\681062338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmi_sub["cluster"] = model.labels_

cluster
0    407
2    212
3    114
1     24
Name: count, dtype: int64

In [103]:
bmi_sub.groupby("cluster")["Insulin"].mean()

cluster
0      4.103194
1    509.166667
2    102.674528
3    224.035088
Name: Insulin, dtype: float64

In [104]:
#2
def udf_minmax(x):
    result = (x-x.min()) / (x.max() - x.min())
    return result

In [105]:
bmi = pd.read_csv("C:/Users/user/Downloads/datascience/Python/diabetes.csv")
bmi_sub = bmi.loc[bmi["BMI"] != 0, :].iloc[:,:-1]
bmi_sub

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [106]:
bmi_minmax = udf_minmax(bmi_sub)

In [107]:
model = KMeans(n_clusters = 4, random_state = 123).fit(bmi_minmax)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

In [108]:
bmi_minmax["cluster"] = model.labels_
bmi_minmax["age"] = bmi["Age"]

In [109]:
bmi_minmax["cluster"].value_counts()

cluster
3    313
1    223
2    192
0     29
Name: count, dtype: int64

In [110]:
bmi_minmax.groupby("cluster")["age"].mean()

cluster
0    31.931034
1    46.874439
2    29.468750
3    26.060703
Name: age, dtype: float64

In [152]:
#3
bmi = pd.read_csv("C:/Users/user/Downloads/datascience/Python/diabetes.csv")
bmi_sub = bmi.loc[bmi["BMI"] != 0, :].iloc[:,:-1]
bmi_sub.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [153]:
model = KMeans(n_clusters = 3, random_state = 123).fit(bmi_sub)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=3.
  warnings.warn(

In [154]:
bmi_sub["cluster"] = model.labels_

In [156]:
array = model.cluster_centers_
df = pd.DataFrame(array, columns = bmi_sub.columns[:-1])
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158
1,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718

In [162]:
df = df.transpose()
df

                                   0           1           2
Pregnancies                 4.026316    3.975258    3.542735
Glucose                   158.447368  114.237113  129.376068
BloodPressure              72.000000   68.647423   71.478632
SkinThickness              32.263158   15.259794   30.337607
Insulin                   441.289474   14.696907  159.401709
BMI                        35.107895   31.440619   34.134615
DiabetesPedigreeFunction    0.569211    0.434579    0.535188
Age                        34.763158   33.808247   31.948718

In [168]:
print(sum((df[0] - df[1])**2)**0.5)
print(sum((df[1] - df[2])**2)**0.5)
print(sum((df[0] - df[2])**2)**0.5)

429.24410313963483
146.3384317067854
283.40595452854234